    <!-- Play Section -->
    <section id="play" class="content-section text-center">
        <div class="play-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Play</h2>
                    <p>For the health and safety of our fans, all future appearances of Shape Arcade at events have been cancelled. Stay tuned for information on streaming events, and sneak previews!</p>
                    <img src="/img/Marketing/shapeArcade.gif" class="image" alt="Animated">
                    <!-- <a href="" target="_blank" class="btn btn-default btn-lg">Visit Event Page for Tickets</a> -->
                    <p></p>
                    <p>Want to play Shape Arcade at an event near you (in late 2020 and beyond)? <a href="#contact">Contact</a> us by email or on social media to let us know!
                    </p>
                    <!-- Gallery Section -->
            </div>
        </div>
    </section>
