    <!-- Play Section -->
    <section id="play" class="content-section text-center">
        <div class="play-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Play</h2>
                    <p>Check out this sneak preview of the new version of Shape Arcade that we will be bringing to the Game Developer's Conference from March 16 - 20 in San Francisco!</p>
                    <img src="/img/Marketing/shapeArcade.gif" class="image" alt="Animated">
                    <p></p>
                    <p>Here's where you'll be able to play Shape Arcade at GDC 2020. We'll have some stickers and buttons to give away to players, so shape up your reflexes and we'll see you there!</p>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <th scope="col">Date</th>
                          <th scope="col" class="text-center">Time</th>
                          <th scope="col" class="text-center">Event Information</th>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">Sat 3/14</th>
                            <td>5PM-10PM</td>
                            <td><a href="https://www.eventbrite.com/e/indiedev-gdc-networking-mixer-demo-stations-tickets-89957418059">INDIE DEV Mixer</a></td>
                          </tr>
                          <tr>
                            <th scope="row">Sun 3/15</th>
                            <td>1PM-6PM</td>
                            <td><a href="https://www.eventbrite.com/e/indiedev-gdc-networking-mixer-demo-stations-tickets-89957418059">INDIE DEV Mixer</a></td>
                          </tr>
                          <tr>
                            <th scope="row">Mon 3/16</th>
                            <td>5PM-10PM</td>
                            <td><a href="https://www.eventbrite.com/e/indiedev-gdc-networking-mixer-demo-stations-tickets-89957418059">INDIE DEV Mixer</a></td>
                          </tr>
                          <tr>
                            <th scope="row">Tue 3/17</th>
                            <td>6PM-10PM</td>
                            <td>TBA</td>
                          </tr>
                          <tr>
                            <th scope="row">Wed 3/18</th>
                            <td>6PM-10PM</td>
                            <td><a href="https://www.eventbrite.com/e/gdc-2020-mixer-tickets-64990206457">GDC 2020 Mixer</a></td>
                          <tr>
                            <th scope="row">Fri 3/20</th>
                            <td>7PM-2AM</td>
                            <td>TBA</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!-- <a href="" target="_blank" class="btn btn-default btn-lg">Visit Event Page for Tickets</a> -->
                    <h1></h1>
                    <img src="/img/GDC.png" class="image">
                    <h1></h1>
                    <p>Want to play Shape Arcade at an event near you? <a href="#contact">Contact</a> us by email or on social media to let us know!
                    </p>
                    <!-- Gallery Section -->
                </div>
            </div>
        </div>
    </section>
